.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: var(--mantine-color-gray-0);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-gray-0);
  min-height: 0;
  overflow: hidden;
}

.navbarMobile {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

@media (max-width: 62em) {
  .content {
    flex: 1;
    height: 100%;
    overflow: scroll;
  }

  .container {
    min-height: auto;
  }
}
